@inherits LayoutComponentBase

<PageTitle>NyxBlazorApp</PageTitle>

<div class="page">
    @*<div class="sidebar">*@
        @*<NavMenu />*@
    @*</div>*@

    <main>
        <div class="top-row px-4" >
            <h1>You are speaking to Nyx Alpha</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
